.front-container {
  height: 100vh;
  width: 100vw;
}

.front-container-flex {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.front-container-component-top, .front-container-component-middle {
  text-align: center;
}

.front-container-component-top {
  margin: 1em;
  padding: 2em;
  font-size: xx-large;
}
.front-container-component-middle {
  margin: 0.25em;
  padding: 0.5em;
  font-size: large;
}

.front-item-link {
  margin: 0.5rem;
  padding: 0.5rem;
  border: 2.5px solid beige;
  border-radius: 10px;
  background-color: beige;
  color: darkblue;
  cursor: pointer;
}

.front-item-link:hover {
  border-color: darkslategray;
  background-color: darkslategray;
  color: beige;
}
